:root {
  /* --fonts-- */
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Raleway', sans-serif;

  /* --text colors-- */
  --accent-cl: #212121;
  --main-text-cl: #FFFFFF;
  --second-text-cl: #2196F3;
  --email-phone-cl: #757575;
  --btn-text-color: #F5F4FA;
  --icon-footer-cl: #FFFFFF;

  /* --bacground color--*/
  --main-color: #FFFFFF;
  --second-color: #F5F4FA;
  --third-color: #2F303A;
  --section-color: #E5E5E5;
  --btn-color: #2196F3;
  --btn-bg-color: #188CE8;
  --border-color: #EEEEEE;
  --border-header-col: #ECECEC;
  --icon-color: #AFB1B8;
  --psevdo-color: #2196F3;
  /* --animation--*/
  --animac: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --File Index.html--*/


body {
  background-color: var(--main-color);
  color: var(--accent-cl);

  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  /*outline: 1px solid green;*/

  padding-top: 94px;
  padding-bottom: 94px;
}

.container {

  /*outline: 1px solid red; */

  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* --Header section-- */

.header {
  background-color: var(--main-header);
  border-bottom: 1px solid var(--border-header-col);
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-left {
  margin-right: 93px;

  color: var(--second-text-cl);

  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}

.logo-right {
  color: var(--accent-cl);
}

.logo-right-foot {
  color: var(--main-text-cl);
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item {
  margin-right: 50px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.nav-link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--accent-cl);
  transition: var(--animac);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--second-text-cl);
}

.psevdo::after {
  content: '';

  display: block;
  width: 100%;
  height: 4px;
  position: absolute;

  left: 0;
  bottom: -1px;
  border-radius: 2px;

  background-color: var(--psevdo-color);
}

.header-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.current {
  color: var(--second-text-cl);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
}

.header-email,
.header-phone {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--email-phone-cl);
  transition: var(--animac);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.email-icon,
.phone-icon {
  margin-right: 10px;

  fill: currentColor;
}

.header-group-item {
  margin-right: 50px;
}

.header-group-item:last-child {
  margin-right: 0;
}

.header-email:hover,
.header-email:focus {
  color: var(--second-text-cl);
}

.header-phone:hover,
.header-phone:focus {
  color: var(--second-text-cl);
}

/* --Hero section-- */

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)), url(../images/img-hero/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
}

.hero-title {
  display: block;
  text-align: center;
  width: 696px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: var(--main-text-cl);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  min-width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 4px;

  background-color: var(--btn-color);
  color: var(--main-text-cl);
  transition: var(--animac);

  letter-spacing: 0.06em;
  font-style: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}


.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
}

/* --Modal window Hero-- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  transition: var(--animac);

  background-color: rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;

  background-color: var(--main-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--main-color);
}

/* --end window Hero--*/

/* --about section-- */

.about-title {
  color: var(--accent-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-list {
  display: flex;
  align-items: center;
}

.about-item {
  width: 270px;
  margin-right: 30px;
}

.about-item:last-child {
  margin-right: 0;
}

.about-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;

  background-color: var(--second-color);
}

.about-item-title {
  margin-bottom: 10px;

  color: var(--accent-cl);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-text {
  color: var(--email-phone-cl);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* --work section-- */

.work {
  padding-top: 0;
}

.work-title {
  margin-bottom: 50px;

  color: var(--accent-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-list {
  display: flex;
  align-items: center;
}

.work-item {
  margin-right: 30px;

  position: relative;
}

.work-item:last-child {
  margin-right: 0;
}

.work-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;

  color: var(--main-text-cl);
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* --team section-- */

.team {
  background-color: var(--second-color);
}

.team-title {
  margin-bottom: 50px;

  color: var(--accent-cl);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-item {
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:last-child {
  margin-right: 0;
}

.employee {
  display: block;
  padding: 30px 0;
  background-color: var(--main-color);
}

.team-worker {
  margin-bottom: 10px;

  color: var(--accent-cl);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-bottom: 16px;

  color: var(--email-phone-cl);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--icon-color);
  background-color: var(--main-color);
  transition: var(--animac);

  border-radius: 50%;
}

.social-media-link:hover,
.social-media-link:focus {
  color: var(--main-text-cl);
  background-color: var(--btn-color);
}

.social-media-icon {
  fill: currentColor;
}

/* --Regular customers section-- */

.customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121
}

.customer-list {
  display: flex;
  justify-content: space-between;

}

.customers-item {
  width: 170px;
  height: 92px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  color: var(--icon-color);
  transition: var(--animac);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--btn-bg-color);
  color: var(--btn-color);
}

.customers-icon {
  fill: currentColor;
}

/* --Footer section-- */

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--third-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.address {
  margin-top: 20px;

  font-style: normal;
}

.address-link {
  margin-bottom: 9px;

  color: var(--main-text-cl);
  transition: var(--animac);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-link:last-child {
  margin-bottom: 0;
}

.address-link:hover,
.address-link:focus {
  color: var(--second-text-cl);
}

.address-item {
  display: block;

  color: var(--main-text-cl);
  transition: var(--animac);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.email-link,
.tel-link {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  transition: var(--animac);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-item:hover,
.address-item:focus {
  color: var(--second-text-cl);
}

.email-link:hover,
.email-link:focus {
  color: var(--second-text-cl);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--second-text-cl);
}

.social-foot-icon {
  display: flex;
}

.join {
  margin-bottom: 20px;

  color: var(--main-text-cl);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase
}

.social-footer-list {
  display: flex;

}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--icon-footer-cl);
  background-color: rgba(255, 255, 255, 10%);
  transition: var(--animac);

  border-radius: 50%;
}

.social-footer-link:hover,
.social-footer-link:focus {
  color: var(--icon-footer-cl);
  background-color: var(--btn-color);
}

.social-footer-icon {
  fill: currentColor;
}

/* --File Portfolio.html-- */

/* --Filtr section-- */

.filter-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item {
  margin-right: 8px;

  background-color: var(--second-color);
}

.btn-item:last-child {
  margin-right: 0;
}

.btn-filter {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  color: var(--accent-cl);
  transition: var(--animac);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--btn-color);
  color: var(--main-text-cl);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 370px;
  height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.services-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.services-item:hover,
.services-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px 
    rgba(0, 0, 0, 0.16);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.services-item:hover .portfolio-desc,
.services-item:focus .portfolio-desc {
  transform: translateY(0);
}

.portfolio-desc {
  position: absolute;
  padding: 64px 24px;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: var(--animac);

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--main-text-cl);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}

.portfolio-card {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.services-name {
  margin-bottom: 4px;

  color: var(--accent-cl);

  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  vertical-align: top;
}

.services-text {
  color: var(--email-phone-cl);

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

